
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/PythonDataAnalyze.iml
.idea/vcs.xml
.idea/workspace.xml
FuckYouIM/__pycache__/db.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
*.pyc
PCA&Clustered/preProcessdata.csv
.gitignore
PCA&Clustered/finalData.csv
