
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/PythonDataAnalyze.iml
.idea/vcs.xml
.idea/workspace.xml
FuckYouIM/__pycache__/db.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
*.pyc
PCA&Clustered/bertlabel.csv
PCA&Clustered/bertlabel.zip
PCA&Clustered/bertlabelPCA.csv
PCA&Clustered/finalData.csv
PCA&Clustered/preProcessdata.csv
PCA&Clustered/trainDataSet.csv
PCA&Clustered/YT_Videos_Comments.csv
PCA&Clustered/preProcessdata.csv
.gitignore
PCA&Clustered/finalData.csv
GiveUpNow/pre.csv
信息分析/PCA&Clustered/testDataNew.csv
信息分析/PCA&Clustered/testDataSet.csv
信息分析/PCA&Clustered/trainDataSet.csv
信息分析/PCA&Clustered/YT_Videos_Comments.csv
信息分析/PCA&Clustered/你最好想清楚再做.csv
信息分析/PCA&Clustered/信息分析——线性降维&聚类分析.docx
*.RData
*.jar
信息分析/PCA&Clustered/bertlabel.csv
信息分析/PCA&Clustered/bertlabel.zip
信息分析/PCA&Clustered/bertlabelPCA.csv
信息分析/PCA&Clustered/finalData.csv
信息分析/PCA&Clustered/preProcessdata.csv
GiveUpNow/.RData
GiveUpNow/.Rhistory
GiveUpNow/News.csv
GiveUpNow/DataWithAuthor.csv
MIS/~$S 共享协作网盘.docx
DataScience Project/Papers/~$paper.docx
DataScience Project/describe.txt
.gitignore
DataScience Project/.Rhistory
DataScience Project/describe.txt
DataScience Project/.Rhistory
