
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/PythonDataAnalyze.iml
.idea/vcs.xml
.idea/workspace.xml
FuckYouIM/__pycache__/db.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
FuckYouIM/__pycache__/Sql.cpython-39.pyc
*.pyc
PCA&Clustered/bertlabel.csv
PCA&Clustered/bertlabel.zip
PCA&Clustered/bertlabelPCA.csv
PCA&Clustered/finalData.csv
PCA&Clustered/preProcessdata.csv
PCA&Clustered/trainDataSet.csv
PCA&Clustered/YT_Videos_Comments.csv
PCA&Clustered/preProcessdata.csv
.gitignore
PCA&Clustered/finalData.csv
GiveUpNow/pre.csv
信息分析/PCA&Clustered/testDataNew.csv
信息分析/PCA&Clustered/testDataSet.csv
信息分析/PCA&Clustered/trainDataSet.csv
信息分析/PCA&Clustered/YT_Videos_Comments.csv
信息分析/PCA&Clustered/你最好想清楚再做.csv
信息分析/PCA&Clustered/信息分析——线性降维&聚类分析.docx
*.RData
*.jar
信息分析/PCA&Clustered/bertlabel.csv
信息分析/PCA&Clustered/bertlabel.zip
信息分析/PCA&Clustered/bertlabelPCA.csv
信息分析/PCA&Clustered/finalData.csv
信息分析/PCA&Clustered/preProcessdata.csv
GiveUpNow/.RData
GiveUpNow/.Rhistory
GiveUpNow/News.csv
GiveUpNow/DataWithAuthor.csv
MIS/~$S 共享协作网盘.docx
DataScience Project/Papers/~$paper.docx
DataScience Project/describe.txt
.gitignore
DataScience Project/.Rhistory
DataScience Project/describe.txt
DataScience Project/.Rhistory
MIS/~$信息系统文档.docx
MIS/红/~$系统功能分析.docx
MIS/蓝/~$一些说明.docx
Blakcteaxx/信息分析/PCA&Clustered/bertlabel.csv
Blakcteaxx/信息分析/PCA&Clustered/bertlabel.zip
Blakcteaxx/~$$新建 Microsoft Visio Drawing.~vsdx
Blakcteaxx/信息分析/PCA&Clustered/bertlabelPCA.csv
Blakcteaxx/信息分析/PCA&Clustered/finalData.csv
Blakcteaxx/信息分析/PCA&Clustered/preProcessdata.csv
Blakcteaxx/信息分析/PCA&Clustered/trainDataSet.csv
Blakcteaxx/信息分析/PCA&Clustered/YT_Videos_Comments.csv
/MIS_GUI/IS/bin/Debug/net6.0-windows/runtimes
/MIS_GUI/IS/bin/Debug/net6.0-windows/Azure.Core.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Azure.Identity.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/IS.deps.json
/MIS_GUI/IS/bin/Debug/net6.0-windows/IS.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/IS.exe
/MIS_GUI/IS/bin/Debug/net6.0-windows/IS.pdb
/MIS_GUI/IS/bin/Debug/net6.0-windows/IS.runtimeconfig.json
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.Bcl.AsyncInterfaces.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.Data.SqlClient.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.Identity.Client.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.Identity.Client.Extensions.Msal.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Abstractions.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Logging.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Protocols.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Tokens.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/Microsoft.SqlServer.Server.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/System.Configuration.ConfigurationManager.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/System.IdentityModel.Tokens.Jwt.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/System.Memory.Data.dll
/MIS_GUI/IS/bin/Debug/net6.0-windows/System.Runtime.Caching.dll
/MIS_GUI/IS/obj
/MIS_GUI/.vs
Blackteaxx/信息分析/PCA&Clustered/bertlabel.csv
Blackteaxx/信息分析/PCA&Clustered/bertlabel.zip
Blackteaxx/信息分析/PCA&Clustered/bertlabelPCA.csv
Blackteaxx/信息分析/PCA&Clustered/finalData.csv
Blackteaxx/信息分析/PCA&Clustered/preProcessdata.csv
Blackteaxx/信息分析/PCA&Clustered/trainDataSet.csv
Blackteaxx/信息分析/PCA&Clustered/YT_Videos_Comments.csv
MIS_GUI/.vs/IS/v17/.suo
MIS_GUI/.vs/IS/v17/.suo
MIS_GUI/.vs/IS/FileContentIndex/28a24d3d-ac44-4257-955b-1184cedf8042.vsidx
MIS_GUI/.vs/IS/DesignTimeBuild/.dtbcache.v2
MIS_GUI/.vs/IS/v17/.suo
MIS_GUI/.vs/IS/DesignTimeBuild/.dtbcache.v2
MIS_GUI/.vs/IS/v17/.suo
MIS_GUI/IS/IS - Backup.csproj.user
