{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/toc.css") }}" />
    <script src="{{ url_for("static", filename="js/leftsidebar.js") }}"></script>
{% endblock %}


{% block title %}
{{ title }}
{% endblock %}

{% block body %}
      <!-- 主容器 -->
      <div class="blog_main_container">
        <!-- 设置左侧导航栏 -->
        <div class="blog_left_sidebar" id="myleftsidebar">
          <nav class="leftsidebar">
            <ul class="articlemenu">
              <h2 class="leftsidebar_title">{{ section_name }}</h2>
            {% for blog in blogs %}
                    <li><a href="/blog/{{ blog.blog_name }}">{{ blog.blog_name }}</a></li>
          {% endfor %}
            </ul>
          </nav>
        </div>

        <!-- 文章区域 -->
        <div class="blog_main_content" >
            <article>{{ content | safe }}</article>
        </div>

        <!-- 设置右侧导航栏 -->
        <div class="blog_left_sidebar" id="myrightsidebar">
          <nav class="leftsidebar" >
              <article>            <ul class="articlemenu">
              <h2 class="leftsidebar_title">目录</h2>
                    {{ table_of_contents | safe }}
            </ul></article>

          </nav>
        </div>
      </div>


<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>



{% endblock %}

