<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/header.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/leftsidebar.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/footer.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/shell.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/article.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/section.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/timeline.css") }}" />
    <script src="{{ url_for("static", filename="js/header.js") }}"></script>
    <script src="{{ url_for("static", filename="js/shell.js") }}"></script>
      {% block head %} {% endblock %}
      <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

    <!-- 侧边画布外导航条 -->
    <div class="shell" id="myShell">
      <a href="javascript:void(0)" class="closebtn" onclick="closeShell()">
        &times;
      </a>
      <a href="#">关于信管</a>
      <a href="#">课程</a>
      <a href="#">实践</a>
      <a href="#">暂时没想出来</a>
    </div>

    <!-- 页面主窗口 -->
    <div id="main">
      <!-- 顶部导航条 -->
    <header>
      <nav class="blog_header" id="topnav">
        <ul>
          <li class="blog_header-item"><a href="/">主页</a></li>
          <li class="blog_header-item">
            <a href="javascript:void(0)" onclick="openShell()">侧栏</a>
          </li>
          <li class="blog_header-item"><a href="/section">栏目</a></li>
          <li class="blog_header-item"><a href="/archive">归档</a></li>
          <li class="blog_header-item"><a href="/code">解释器</a></li>
          <li class="blog_header-item"><a href="/author/login">登录</a></li>
          <li class="blog_header-item"><a href="/author/register">注册</a></li>
        </ul>
      </nav>
    </header>


        {% block body %}
        {% endblock %}

      <!-- 底部导航条 -->
      <footer class="blog_footer">
        <p>
          既来之，<br />
          休走之。
        </p>
      </footer>
    </div>
  </body>
</html>