<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注册页面</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/reg.css") }}" />
  </head>
  <body>
      <div class="container">
        <!--容器，用于设置页面布局-->
        <form method="POST">
          <h1>注册 | 个人用户</h1>
      <!--消息闪现-->
          <h3 class="flashtitle">
              {% for item in get_flashed_messages() %}
              {{ item }}
              {% endfor %}
          </h3>
          <!-- label可以锁定文本框 -->
          <label for="username">用户名</label><br />
          <input type="text" name="username" id="username" required /><br />
          <label for="email">电子邮件</label><br />
          <input type="email" id="email" name="email" required /><br />
          <label for="password">密码</label><br />
          <input type="password" name="password" id="password" required /><br />
          <label for="confirm_password">确认密码</label><br />
          <input
            type="password"
            name="confirm_password"
            id="confirm-password"
            required
          /><br />
          <button type="submit">注册</button>
        </form>
      </div>
    </div>
  </body>
</html>
