{% extends "base.html" %}

{% block title %}
栏目列表
{% endblock %}


{% block body %}
    <div class="blog_index_title">
        <div class="imgs">
            <div style="background-image: url('../static/images/1.jpg')"></div>
            <div style="background-image: url('../static/images/1.jpg')"></div>
            <div style="background-image: url('../static/images/1.jpg')"></div>
            <div style="background-image: url('../static/images/1.jpg')"></div>
            <div style="background-image: url('../static/images/1.jpg')"></div>
        </div>
      </div>

      <!-- 主容器 -->
      <div class="blog_section_container">
        <!-- 左侧展示推荐文章 -->
        <div class="blog_section_leftcontainer">
        <ul>
            {% for section in sections  %}
            <li>
              <div class="blog_section_article">
                  <article>
                    <h1><a href="/section/{{ section.section_name }}">{{ section.section_name }}</a></h1>
                    <div class="description">{{ section.description | safe }}</div>
                  </article>

              </div>
            </li>
        {% endfor %}
        </ul>

        </div>

        <!-- 右侧展示个人条目 -->
        <div class="blog_section_rightcontainer">
          <article>
              <h1>Description</h1>
          </article>
        </div>
      </div>
{% endblock %}