<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/shell.css" />
    <script src="../js/shell.js"></script>
    <title>Shell</title>
  </head>
  <body>
    <div class="shell" id="myShell">
      <a href="javascript:void(0)" class="closebtn" onclick="closeShell()">
        &times;
      </a>
      <a href="#">关于信管</a>
      <a href="#">课程</a>
      <a href="#">实践</a>
      <a href="#">暂时没想出来</a>
    </div>

    <span onclick="openShell()">open</span>

    <div id="main">111</div>
  </body>
</html>
