{% extends "base.html" %}

{% block title %}
归档
{% endblock %}


{% block body %}
    <div class="blog_index_title">
        <h1>归档</h1>
      </div>

 <!-- 主容器 -->
<div class="blog_timeline_container">
  <div class="blog_section_leftcontainer">
    {% for month, blogs in archive_dict.items() %}
      <div>
        <div class="blog_timeline_title">{{ month }}</div>
        <ul class="blog_timeline_entries">
          {% for blog in blogs %}
            <li>
              <div class="blog_timeline_entry">
                <div class="blank"></div>
                <span class="time">| {{ blog[0] }}</span>
                <div class="blank2"></div>
                <a href="/blog/{{ blog[1] }}" class="blog_timeline_blogtitle">{{ blog[1] }}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>



        <div class="blog_section_rightcontainer">
            <div class="blog_selfintroduction">

            </div>
        </div>
{% endblock %}
