footer.blog_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.next_article {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
