* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.blog_index_title {
  margin-top: 53px;
  padding: 100px;
  text-align: center;
  border-bottom: 1px solid green;
}

.blog_index_title > h1 {
  font-size: 40px;
}

.blog_index_container {
  margin-top: 20px;
  margin-left: 0;
  display: flex;
  /* 设置高度 */
  min-height: 100vh;

  padding-left: 20%;
  padding-right: 20%;
}

.blog_index_leftcontainter {
  flex: 3;
}

.blog_index_rightcontainter {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.blog_introduction,
.blog_section {
  margin-bottom: 10px;
}

.blog_section_item {
  display: flex;
  padding: 20px 24px;
  margin: 5px;
}

.blog_section_item_image {
  position: relative;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_section_item_image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.blog_section_item_tag {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgb(0, 0, 0); /* 后备颜色 */
  background: rgba(0, 0, 0, 0.5); /* 黑色背景，不透明度为 0.5 */
  color: #f1f1f1;
  padding: 3px;
  font-size: 5px;
}

.blog_section_item_main {
  flex: 7;
  display: flex;
}
