html,
body {
  width: 100%;
  height: 90%;
  background-color: rgb(228, 240, 250);
}

h3.flashtitle {
  border-bottom: solid 3px #ffd139;
}

.container {
  width: 80%; /* 容器宽度 */
  height: 100%;
  margin: 50px auto; /* 居中对齐 */
  text-align: center; /* 文本水平居中 */
  display: flex; /* 使用 flex 布局 */
  align-items: center; /* 在垂直方向上居中 */
  justify-content: center; /* 在水平方向上居中 */
}

form {
  background-color: aliceblue;
  width: 600px;
  /* 做圆角 */
  border-radius: 20px;
  padding: 40px 20px;
  display: flex; /* 使用 flex 布局 */
  flex-direction: column; /* 竖直方向排列 */
  align-items: center; /* 在垂直方向上居中 */
  justify-content: center; /* 在水平方向上居中 */
}

h1 {
  text-align: center;
}

input {
  /* 设置仅有下划线的输入框 */
  border: none;
  border-bottom: 1px solid rgba(1, 198, 252, 0.984);
  width: 40%;
  height: 30px;
  border-radius: 5px;
}

button {
  color: #ffffff;
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: #00a2ff;
  border-radius: 5px;
  border: none;
  /* 动画 这个抄的 */
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #004987;
}
