div.shell {
  height: 100vh;
  width: 0; /* 用JS修改 */
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: aliceblue;
  overflow-x: hidden; /* 禁用水平滚动 */
  padding-top: 60px; /* 内容间距顶部60px */
  transition: all 0.5s ease-in-out;
}

/* shell中的链接 */
div.shell > a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

div.shell > a:hover {
  color: purple;
  transition: all 0.3s ease-in-out;
}

/* 关闭按钮的样式 */
div.shell > a.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding-left: 0px;
}
