*.csv
*.png
Old/.RData
Old/competition_test.txt
Old/competition_train.txt
Old/describe.txt
Old/submission_sample.csv
Old/test.Rmd
Old/trainSample.txt
Old/数据字典样例说明.xlsx
Old/用户预定售卖房型概率预测比赛需求说明.docx
用户预定售卖房型概率预测比赛需求说明.docx
数据字典样例说明.xlsx
用户预定售卖房型概率预测比赛需求说明.docx
数据字典样例说明.xlsx
submission_sample.csv
